<div class="container py-5">

  <div class="row mb-5">
    <div class="col-6">
      <button class="btn btn-primary" routerLink="/add-course">Add New Course</button>
    </div>
  </div>

  <div class="row">
    <ng-container *ngFor="let course of listCourses">

      <div class="col-3">
        <div class="card">
          <img src="assets/images/default-thumbnail.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-center">{{ course.name }}</h5>
            <p class="card-text text-center">
              {{ (course.description.length > 50) ? (course.description)+'...' : course.description}}
            </p>
            <div class="row">
              <div class="col-6 text-center">
                <p><b class="text-success">{{ course.type }}</b></p>
              </div>
              <div class="col-6">
                <p><b>Price: ${{ course.price }}</b></p>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <button class="btn btn-primary w-100">Edit Course</button>
              </div>
              <div class="col-6">
                <button class="btn btn-primary w-100">Delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </ng-container>

  </div>
</div>
